h1{
    color:MidnightBlue
}
body{
    color:DarkOliveGreen;
    background-color: WhiteSmoke;
}
em{
    color:Orange
}
mark{
    background-color: Violet;
}
a[title]{
    color: OrangeRed
}