body{
    color:indigo;
    background-color: WhiteSmoke;
    justify-content: flex-start;
    font-size: 1em; 
    
}

#constru{
    display: flex;
    flex-direction: column;
}

h1{
    color:MidnightBlue;
}

.soustitre{
    text-align: left;
    text-indent: 5%;
}

#entete{
    background-color: darkseagreen;
    background-size: auto;
    border: 5px solid lightseagreen;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.boites{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    height: 100%;
    width: 100%;
}

#infoperso{
    background-color: goldenrod;
    padding-top : 5px;
    min-height: 30%;
    min-width: 45%;
    border-radius: 30px ;
    text-align: center;
}

#etudeexppro{
    background-color: chocolate;
    padding-top : 5px;
    min-height: 30%;
    min-width: 45%;
    border-radius: 30px ;
    text-align: center;
}

#qualite{
    background-color: Moccasin;
    padding-top : 5px;
    min-height: 30%;
    min-width: 45%;
    border-radius: 30px ;
    text-align: center;
}

#capacite{
    background-color: steelblue;
    padding-top : 5px;
    min-height: 30%;
    min-width: 45%;
    border-radius: 30px ;
    text-align: center;
}

#acquis{
    background-color: yellowgreen;
    padding-top : 5px;
    min-height: 30%;
    min-width: 45%;
    border-radius: 30px ;
    text-align: center;
}


footer{
    margin-left: auto;
}

li{
    text-align: left;
}

em{
    color:Orange;
}

mark{
    background-color: Violet;
}

a[title]{
    color: OrangeRed
}

@media screen and (max-width: 64em) {
    #entete{
        font-size: 1.5em;    
    }
}